---
layout: default
---

<div class="posts">
  {% for post in site.references %}
  <article class="post">

    <h5> {{ post.author }} &nbsp;&#183;&nbsp; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h>
    
    <div class="entry">
      {% if post.content contains '<!--more-->' %}

      {{ post.excerpt }}

      {% else %}

      {{ post.excerpt | markdownify | strip_html | truncate: 160 }}

      {% endif %}
    </div>

    <!-- <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read more&nbsp;&#183;</a> -->
  </article>
  {% endfor %}

  <!-- {% include pagination.html %} -->
</div>
